nav ul{
    display:flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin:20px;
    padding:10px;
    gap:30px;
    color:white;

}
nav {
    background-color: black;
    color:white;
    border-radius: 20px;
    
}

.active-link{
    color:red;
}

nav a{
    color:white;
}
